.nav_right:hover {
    cursor: pointer;
    background: #c2bfbf;
}

.nav_right {
    border-radius: calc(infinity * 1px);
    padding: 6px;
}

.page {
    display: grid;
    grid-template-columns: 1fr auto;
}

.left_menu li{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.community h2{
    cursor: pointer;
}

.left_menu li:hover{
    background: #eae4e4;
}